body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #333;
    padding: 20px;
}

h1,h2{
    text-align: center;
    color: #2c3e50;
}

canvas{
    display: block;
    margin: 20px auto;
    max-width: 800px;
    background: white;
    padding: 10px;
    border-radius: 8px;
}

